@media screen and (min-width: 1024px) {
	.box {
		margin: 0 auto;
		width: 500px;
		height: 400px;
		background-color: #00cd6b;
		border-radius: 10px;
	}
}

@media screen and (min-width: 768px) {
    .box {
		margin: 0 auto;
		width: 400px;
		height: 400px;
		background-color: #00cd6b;
		border-radius: 10px;
	}  
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .box {
		margin: 0 auto;
		width: 230px;
		height: 300px;
		background-color: #00cd6b;
		border-radius: 10px;
	}
	
	.title {
		width: 240px;
	}
	
	#proverbio {
	padding-top: 100px;	
	}
}


}
